@page
@model AlbumStore.Pages.Albums.TelerikGridModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="TitleFilter" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Reference Number
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Albums) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-albumId="@item.AlbumId">Edit</a> |
                <a asp-page="./Details" asp-route-albumId="@item.AlbumId">Details</a> |
                <a asp-page="./Delete" asp-route-albumId="@item.AlbumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
